<!DOCTYPE Html>
<html>
    <head>
        <title>Internal CSS</title>
        <style type = text/css>
        body {background-color: blue; }
            h1 {
                text-shadow: 3px 3px 3px #888888;
                font-style:italic;
                

            }
             p {
                font-family:arial, sans-serif;
                color:red;
                font-size: 14px;
            }
        </style>
    </head>
    
</html>